.weather {
    background: rgb(0, 0, 0, 0.5);
    color: #e4e4e4;
    border-radius: 8px;
    margin-bottom: 2%;
    width: 50vw;
    display: flex;
    flex-direction: row;
}

.weather > div {
    margin: 0% 10%;
}

#pointer {
    height: 1em;
    padding-top: 3px;
}

.weathericon {
    height: 300px;
    margin: -80px;
    padding: 0px;
}

#time {
    font-size: 4em;
}

#temp {
    font-size: 5em;
}